		<!-- The content of your page would go here. -->
    <head>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    	<!--<link rel="stylesheet" href="public/demo.css">-->
    	<link rel="stylesheet" href="public/footer-distributed.css">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    </head>

    <footer class="footer-distributed" id="footer">
			<div class="footer-right">
				<a href="https://goo.gl/maps/zMfwwmVsoRT2" target="_blank"><i class="fa fa-map-marker"></i></a>

			</div>
			<div class="footer-left">
        <p style="color:white">Ver <a href="http://2017.velozmonitoreo.com.mx/terminosyCondiciones.html" target="_blank">Términos y Condiciones</a> </p>
        <img src="/public/placa.png" style="float:left" target="_blank" href="https://goo.gl/maps/zMfwwmVsoRT2" height="85px" width="65px" alt="Jackson logo">
				<p class="footer-links">
					<a href="#">fes@velozmonitoreo.com.mx</a>
					<br>
					<a href="#">(668) 817 2222</a>
				</p>
				<p>JacksonAlarmas &copy; 2018</p>
			</div>
		</footer>
