<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<div>
  <br>
  <p></p>
  <img src="/public/banco.svg" alt="Banco de Mexico">
  <img src="/public/cnbv.svg" alt="CNBV">
  <!--<img src="/public/e-global.svg" alt="E-Global">-->
  <!--<img src="/public/oxxo.svg" alt="oxxo">-->
  <img src="/public/pci.svg" alt="PCI">
  <img src="/public/prosa.svg" alt="prosa">
  <br>
  <br>

</div>
