<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px;margin-bottom: 200px; }
	</style>
	<script type="text/javascript">
	$(document).ready(function () {
		$('#formCliente').validate({ // initialize the plugin
				rules: {
						nombreCliente: {
								required: true,
								email: false
						},
						emailCliente: {
								required: true,
								email: true
						}
				}
		});
	});
	</script>
</head>
<body id="body">

	<div class="page-header text-center">
		<h1><span class="fa fa-lock"></span> Realizar pago</h1>
		<a href="/logout" class="btn btn-danger">Desconectar</a>
	</div>

  <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4 card">
					<div class="well">

          <form id="formCliente" class="card-body" action="/clientes" method="POST">

						<p>¡Perfecto!</p>
						<br>
						<p>Primero necesitamos unos cuantos datos para poder procesar tu pago</p>
						<br>
						<p>Esto solo tendrá que hacerlo una vez</p>
            <div class="form-group">
							<p>Nombre Completo</p>
              <input name="nombreCliente" type="text" class="form-control" placeholder="Juan Esteban Pérez López" required>
            </div>
						<div class="form-group">
							<p>Número de teléfono a 10 dígitos</p>
              <input name="phone" type="text" class="form-control" placeholder="Teléfono cliente" required>
            </div>
						<div class="form-group">
							<p>Calle #1</p>
              <input name="street1" type="text" class="form-control" placeholder="Calle número 1" required>
            </div>
						<div class="form-group">
							<p>Calle #2</p>
              <input name="street2" type="text" class="form-control" placeholder="Calle número 2" required>
            </div>
						<div class="form-group">
							<p>Código Postal</p>
              <input name="cp" type="text" class="form-control" placeholder="81270" required>
            </div>
            <div class="form-group">
							<p>Correo Electrónico</p>
              <input name="emailCliente" type="text" class="form-control" placeholder="<%= data.name.username %>" disabled>
            </div>
            <input type="submit" class="btn btn-primary" value="Siguiente">
          </form>
        </div>
        <div class="col-md-2"></div>
				</div>
      </div>
			<% include partials/footer.ejs %>
</body>


</html>
