<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="public/tooltip.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
	<script type="text/javascript" >
	  Conekta.setPublicKey('key_G6Javr3MJ4vRUcgYxDQpbpg');

	  var conektaSuccessResponseHandler = function(token) {
	    var $form = $("#card-form");
	    //Inserta el token_id en la forma para que se envíe al servidor
	     $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
	    $form.get(0).submit(); //Hace submit
	  };
	  var conektaErrorResponseHandler = function(response) {
	    var $form = $("#card-form");
	    $form.find(".card-errors").text(response.message_to_purchaser);
	    $form.find("button").prop("disabled", false);
	  };

	  //jQuery para que genere el token después de dar click en submit
	  $(function () {
	    $("#card-form").submit(function(event) {
	      var $form = $(this);
	      // Previene hacer submit más de una vez
	      $form.find("button").prop("disabled", true);
	      var token=Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
	      return false;
	    });
	  });
	</script>
	<script>
		$(document).ready(function() {
		$("body").tooltip({ selector: '[data-toggle=tooltip]' });
		});
	</script>
	<script type="text/javascript">
    function operacion(){
      var monto = document.getElementById("montoInput").value;
      var razon = document.getElementById("razonInput").value;
    }
  </script>
	<style>
		#body 		{ padding-top:15px; margin-bottom: 200px;}
	</style>
</head>

<body id="body">
    <div class="container">
      <div class="page-header text-center">
    		<h1><span class="fa fa-lock"></span> Datos del pago</h1>
				<a href="/profile" class="btn btn-success">Inicio</a>
				<a href="/logout" class="btn btn-danger">Desconectar</a>
    	</div>

			<div class="col-ms-2"></div>
			<div class="well">
			<div class="col-ms-8">
				<h4> <strong> Antes de ingresar sus datos. </strong></h4>
				<h4>Favor de verificar que su tarjeta esté activa y con límite
				suficiente para compras con tarjeta.</h4>
				<hr>
				<form action="/datosTarjeta" method="POST" id="card-form">
					<fieldset disabled>
							<div>
								<label>
								<span>Monto a cobrar $</span>
								<input id="montoInput" type="text" name="monto" value= "***" > MXN
								<!--<span>.00 MXN</span>-->
								</label>
							</div>
							<div>
								<label>
								<span>Razón de pago</span>
								<input id="razonInput" type="text" name="razon" value= "******">
								</label>
							</div>
					</fieldset>
					<hr>
					<fieldset id="cardFieldset">
						<font color="red">
	  			<span class="card-errors"></span>
						</font>
						<div>
					    <label>
								<span>Nombre del tarjetahabiente</span>
								<span href="#" data-toggle="tooltip" title="El nombre debe ser igual al escrito en la tarjeta">
									<i class="fa fa-question-circle-o"> <strong>?</strong></i>
								</span>
					      <input type="text" size="20" data-conekta="card[name]" required>
					    </label>
					  </div>

					  <div>
					    <label>
					      <span>Número de tarjeta de crédito o débito</span>
					      <input type="text" size="20" data-conekta="card[number]" required>
					    </label>
					  </div>

					  <div>
					    <label>
					      <span>CVC</span>
					      <input type="text" size="4" data-conekta="card[cvc]" required>
					    </label>
					  </div>

					  <div>
					    <label>
					      <span>Fecha de expiración (MM/AAAA)</span>
					      <input type="text" size="2" data-conekta="card[exp_month]" required>
					    </label>
					    <span>/</span>
					    <input type="text" size="4" data-conekta="card[exp_year]" required>
					  </div>
						<hr>
						<h3> <strong>¡No te preocupes!</strong> </h3>
						<h4> <strong>Tus datos son encriptados antes de ser procesados.</strong> </h4>
						<h5>
							<strong>Para mayor información consulta:
								<a href="https://www.conekta.com/sobre-nosotros" target="_blank">https://www.conekta.com/sobre-nosotros</a>
							</strong>
						</h5>
	  				<button type="submit" class="btn btn-success" onclick="operacion()">Continuar</button>
						</fieldset>
				</form>

		</div>
		<% include partials/logos.ejs %>

	</div>
<div class="col-ms-2"></div>
</div>
</body>
<% include partials/footer.ejs %>
</html>
