<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<style>
		body 		{ padding-top:15px; margin-bottom: 200px;}
	</style>
</head>

<body>
    <div class="container">
      <div class="page-header text-center">
    		<h1><span class="fa fa-lock"></span> Monto del pago</h1>
				<a href="/profile" class="btn btn-success">Inicio</a>
				<a href="/logout" class="btn btn-danger">Desconectar</a>
    	</div>

			<div class="col-ms-2"></div>
			<div class="well">
			<div class="col-ms-8">
			<form action="/datosMonto" method="POST">

				<h3>Por favor ingrese el monto que va a pagar y su motivo de pago</h3>
				<hr>
				<div>
					<label>
					<span>Monto a cobrar $</span>
					<input type="text" name="monto" placeholder="450.00" required>
					<span>MXN</span>
					</label>
				</div>

				<div>
					<label>
					<span>Motivo de pago</span>
					<input type="text" name="razon" placeholder="Pago diciembre" required>
					<hr>
					<p>Esta información nos facilitará abonar correctamente su pago</p>
					</label>
				</div>

				<div>
					<h6>Ejemplos de datos para el campo "Motivo de pago"</h6>
					<ul>
						<li>Pago Factura #xxx</li>
						<li>F #xxx</li>
						<li>Pago monitoreo mes de xxx </li>
						<li>Serie y Folio #xxx</li>
						<li>Nombre fiscal del cliente,nombre del abonado, razón social o RFC</li>
					</ul>
					<hr>
				</div>
				<button class="btn btn-success" type="submit">Siguiente</button>
				</form>
		</div>
	</div>
<div class="col-ms-2"></div>
</div>
<% include partials/footer.ejs %>
</body>
</html>
