<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:15px; margin-bottom: 200px;word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-exclamation-circle"></span> Error</h1>
		<a href="/" class="btn btn-success">Ir a página de Inicio</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="well">

					<p>
						<strong>Error 404
               página no encontrada, favor de verificar la dirección ingresada</strong> <br>
					</p>
			</div>
		</div>
		<div class="col-sm-3"></div>

	</div>

</div>
<% include partials/footer.ejs %>
</body>
</html>
