<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px; margin-bottom: 200px;}
		label {text-align:center;}
	</style>
	<!--
	<script src="dist/popupS.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/popupS.min.css"> -->
</head>
<body id="body">

	<div class="page-header text-center">
		<h1><span class="fa fa-lock"></span> Generar Cargo</h1>
		<a href="/profile" class="btn btn-success">Inicio</a>
		<a href="/logout" class="btn btn-danger">Desconectar</a>
	</div>

  <div class="row">
        <div class="col-md-2 col-sm-2" ></div>
				<div class="col-md-8 col-sm-8">
        	<h1>Confirmar Pago</h1>
					<br>
					<form action="/generarCargo" method="POST">
						<h3>¿Es la información correcta?</h3>
						<div class="form-group" text-align="	">
								<label>Monto a pagar: $ <%= data.monto %> MXN</label>
						</div>
						<div class="form-group">
								<label>Descripción de su pago:  <%= data.razon %>.</label>
						</div>
						<div class="form-group">
								<label>Fecha de pago: <%= data.hora %></label>
						</div>
					<button type="submit" name="botonConfirmar" class="btn btn-success">
						<span class="fa fa-lock"></span> Pagar
					</button>
					</form>
					<br>
					<br>
					<form action="/datosMonto" method="GET">
						<button type="submit" name="botonEditar" class="btn btn-warning">
							<span class="	fa fa-pencil-square-o"></span> Editar
						</button>
					</form>
				</div>
        <div class="col-md-2 col-sm-2"></div>
				</div>
      </div>
			<% include partials/footer.ejs %>
</body>
</html>
