<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px; margin-bottom: 200px;}
	</style>
</head>
<body id="body">
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Pagos en línea</h1>

            <p>Inicia sesión o regístrate:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Iniciar sesión</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarme</a>
					<h4>Entidades que nos respaldan: </h4>
					<% include partials/logos.ejs %>
				</div>
    </div>
		<% include partials/footer.ejs %>
</body>

</html>
