
<!doctype html>
<html lang="es">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><!-- pendientes
		controlar el tama侎o del video
		http://www.javascriptkit.com/dhtmltutors/youtube-api-lightbox.shtml


        --><!-- Theme Made By www.w3schools.com - No Copyright -->
	<title>Monitoreo de Alarmas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
	<link href="styles/w3.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Bitter&amp;subset=latin" rel="stylesheet" type="text/css" />
	<link href="hamburgericonmenu.css" rel="stylesheet" /><!-- INICIA SCRIPT 1 DE CONEKTA  --><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script><!-- FIN SCRIPT 1 DE CONEKTA  --><script src="hamburgericonmenu.js"></script>
	<style type="text/css">/*StylesParaListaDeVideos*/

  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) modificado por juanjackson*/
.sidenav .closebtn {
    position: absolute;
    top: 150;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
	</style>
	<style type="text/css">body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #4da6ff;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #4da6ff;
      font-size: 50px;
  }
  .logo {
      color: #4da6ff;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #4da6ff;
  }
  .carousel-indicators li {
      border-color: #4da6ff;
  }
  .carousel-indicators li.active {
      background-color: #4da6ff;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #4da6ff;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #4da6ff;
      background-color: #fff !important;
      color: #4da6ff;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f1f1f1 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: #f1f1f1 !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #4da6ff;
      color: #fff;
  }
  .Normal {
    font-size:16px;
    line-height:18px;
    color:#999;
    line-height:normal;
    font-weight:normal;
  }
  .Normal_Blue {
    font-size:18px;
    color:#4DA6FF;
    line-height:normal;
    font-weight:normal;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #4da6ff;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #4da6ff !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #4da6ff;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {

      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  /*<!-- CSS -->
  http://www.javascriptkit.com/dhtmltutors/youtube-api-lightbox.shtml
  Youtube Player API and creating a simple Youtube video lightbox
  */
.videowrapper{
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;  /*16:9 aspect ratio */
    height: 0;
}
.videowrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
}
	</style>
</head>
<body class="bg-grey" data-offset="60" data-spy="scroll" data-target=".navbar" id="myPage" style="max-width: 1080px;
    margin: auto;"><!--<div id="hamburgericonmenuwrapper">
        <div id="hamburgerui">
        <ul>
        <li><a href="#contact">Contacto</a></li>
        <li><a href="#"><span id="navtoggler"  data-target="#myNavbar"></span></a></li>
        </ul>
        </div>
        <nav id="fullscreenmenu" class="#mySidenav1">
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#myPage" onclick="closeNav()">INICIO</a></li>
              <li><a href="#services" onclick="closeNav()">SERVICIOS</a></li>
              <li><a href="#testimonio" onclick="closeNav()">TESTIMONIOS</a></li>
              <li><a href="#pricing" onclick="closeNav()">PRECIOS</a></li>
              <li><a href="#FAQ" onclick="closeNav()">FAQ</a></li>
              <li><a href="#contact" onclick="closeNav()">CONTACTANOS</a></li>
              <li><a href="#about" onclick="closeNav()">NOSOTROS</a></li>
              <li><a href="#RN" title="Ver plan de recomendaciones para ahorrar" onclick="closeNav()">RECOMIENDA Y GANA</a></li>
            </ul>
          </div>
        </nav>
        <script type="text/javascript">
                                      /* Open the sidenav */
                      function openNav() {
                          document.getElementById("mySidenav1").style.width = "100%";
                      }

                      /* Close/hide the sidenav */
                      function closeNav() {
                          document.getElementById("mySidenav1").style.width = "0";
                      }
        </script>


</div>-->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header"><button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"></button></div>

<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav navbar-right">
	<li><a href="#myPage" onclick="closeNav()">INICIO</a></li>
	<li><a href="#services" onclick="closeNav()">SERVICIOS</a></li>
	<li><a href="#testimonio" onclick="closeNav()">TESTIMONIOS</a></li>
	<li><a href="#pricing" onclick="closeNav()">PRECIOS</a></li>
	<li><a href="#contact" onclick="closeNav()">CONTACTANOS</a></li>
	<li><a href="#about" onclick="closeNav()">NOSOTROS</a></li>
	<li><a href="#FAQ" onclick="closeNav()">FAQ</a></li>
	<li><a href="#RN" onclick="closeNav()" title="Ver plan de recomendaciones para ahorrar">RECOMIENDA Y GANA</a></li>
</ul>
</div>
</div>
<!--modulo para busquedas
<form name="jksearch" action="http://www.google.com/search" method="get" onSubmit="jksitesearch(this)">
<p>Search JavaScript Kit:<br />
< id="hiddenquery" type="hidden" name="q" />
<input name="qfront" type="text" style="width: 200px" value="excluir" /> <input type="submit" value="Search" /><br />
<div style="font: bold 11px Verdana;">Google:<input name="se" type="radio" checked> 燳ahoo:<input name="se" type="radio"> 燤SN:<input name="se" type="radio">
</div>
<script type="text/javascript">
// All-in-one Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
// For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
// This notice must stay intact for use
//Enter domain of site to search.
var domainroot="http://2017.velozmonitoreo.com.mx"
var searchaction=[ //form action for the 3 search engines
"http://www.google.com/search",
"http://search.yahoo.com/search",
"http://search.msn.com/results.aspx"
]
var queryfieldname=["q","p","q"] //name of hidden query form for the 3 search engines
function switchaction(cur, index){
cur.form.action=searchaction[index]
document.getElementById("hiddenquery").name=queryfieldname[index]
}
function jksitesearch(curobj){
for (i=0; i< document.jksearch.se.length; i++){ //loop through radio to see which is checked
if (document.jksearch.se[i].checked==true)
switchaction(document.jksearch.se[i], i)
}
document.getElementById("hiddenquery").value="site:"+domainroot+" "+curobj.qfront.value
}
</script>
</p>
</form>
 --></nav>

<div class="jumbotron text-center">
<h1>VELOZMONITOREO</h1>

<p>Pensando en tu seguridad <b>nuestro objetivo</b> es hacer asequible el monitoreo de las alarmas.</p>

<p>desde <strong>$99</strong> pesos por mes* &iquest;Qu&eacute; te parece?</p>
<!--<footer><a class="btn" href="#">Mas informacion ...</a></footer> --><button class="btn btn-info" data-target="#masInfo" data-toggle="collapse" type="button">Mas informacion ...</button>

<div class="collapse" id="masInfo">Cuando revises el apartado de <strong>precios</strong> te dar&aacute;s cuenta que existen<br />
3 tipos de servicio, uno de ellos se adecuar&aacute; a tus necesidades<br />
entonces lo seleccionas junto con el per&iacute;odo de pago que te convenga.<button class="btn btn-lg" onclick="document.getElementById('id01').style.display='block'" style="color:#000">Quiero contratar</button></div>
<!--class="w3-grayscale-max"

   <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Direcci贸n de Email" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribirse</button>
      </div>
    </div>
  </form>--></div>

<div class="container-fluid bg-grey">
<div class="row">
<div class="col-sm-4"><!--<span class="glyphicon glyphicon-globe logo slideanim"></span>--><a href="#99"><img alt="promo_99" src="images/Index2/sensacional99_355x355.png" /></a></div>

<div class="col-sm-1"></div>

<div class="col-sm-7">
<h2>NUESTRA PROPUESTA DE SERVICIO</h2>
&nbsp;

<h4>Estamos haciendo <strong>asequible y sencillo</strong> el monitoreo de su alarma y tambi&eacute;n sofisticado para quien as&iacute; lo necesite</h4>

<p>Tenemos la visi&oacute;n de permiterle a Usted volver a salir de su casa con la <strong>tranquilidad</strong> de anta&ntilde;o, que sus pertenencias sean respetadas y que cada uno de sus esfuerzos de crecimiento no se vean agraviados por la delincuencia</p>
</div>
</div>
<button class="btn" onclick="document.getElementById('id01').style.display='block'" style="color:#000">Quiero contratar</button></div>
<!--<div class="w3-container w3-teal">
  <h1>Algunos ejemplos que ya conoces</h1> <h3>de propuestas similares en otras industrias: Uber, Farmacias Similares, Fundaci贸n Best AC, AirBNB, Salud Digna AC, Bodegas Aurrera</h3>
</div>--><!-- Container (Services Section) -->

<div class="container-fluid text-center" id="services">
<h2>SERVICIOS QUE REALIZAMOS</h2>
<br />
<nr> <!--  <div class="row slideanim">-->
<div class="row bg-grey">
<div class="col-sm-3"><span><img src="images/iconosOperador69x65Azul.png" /></span>

<h2>SIEMPRE ALERTAS</h2>

<p>Central de Monitoreo de Alarmas 24/7/365</p>

<p>Personal operativo certificado,</p>

<p>con herramientas tecnol&oacute;gicas al d&iacute;a<button class="btn btn-info" data-target="#siempreAlertas" data-toggle="collapse" type="button">+</button></p>

<div class="collapse" id="siempreAlertas"><!--<a>Aqui se colocara la informacion ampliada de los recursos con los que contamos para proporcionar el servicio</a>
     <button onclick="document.getElementById('id01').style.display='block'" class="btn" style="color:#000">Quiero contratar</button>--></div>
</div>

<div class="col-sm-3"><img src="images/tecnicoDiademaCorbata.png" />
<h2>SOPORTE T&Eacute;CNICO</h2>

<p>Cuando lo necesites ser&aacute;s asesorado por personal especializado</p>

<p>Para uso o programaci&oacute;n de tu sistema de seguridad</p>

<p>Solo Tu ser&aacute;s quien tenga las contrase&ntilde;as del equipo<button class="btn btn-info" data-target="#ST" data-toggle="collapse" type="button">+</button></p>

<div class="collapse" id="ST"><!-- <a>Aqui se colocara la informacion ampliada de el servicio de soporte</a>
             <button onclick="document.getElementById('id01').style.display='block'" class="btn" style="color:#000">Quiero contratar</button>--></div>
</div>

<div class="col-sm-3"><img src="images/mexicoAzulContorno69x65.png" />
<h2>T&Eacute;CNICOS EN TU CIUDAD</h2>

<p>T&eacute;cnicos Certificados en tu ciudad</p>

<p>para cuando tu decidas que otro haga el trabajo</p>

<p>aunque insistiremos en que lo hagas tu ... es m&aacute;s divertido!!</p>
</div>

<div class="col-sm-3"><img src="images/cart.png" />
<h2>REFACCIONES</h2>

<p>En caso que necesites reponer algun dispositivo,</p>

<p>que desees ampliar el sistema</p>

<p>o que requieras alguna herramienta</p>

<p>aqu&iacute; lo podr&aacute;s comprar</p>
<!-- utilizar un collapse + ul para un indice de refacciones--></div>
</div>
<br />
<br />
<!--<div class="row slideanim">-->
<div class="row bg-grey">
<div class="col-sm-3"><i class="material-icons" style="font-size:72px; color:#4da6ff;">ondemand_video</i>

<h2>TUTORIALES DE USO</h2>

<p>D&aacute; click aqui para ver los tutoriales de</p>

<p>funciones de usuario de los equipos de seguridad</p>

<p>Armado total, Armado en casa, Armado sin tiempo de entrada,</p>

<p>Pruebas del sistemas, ver fallas del sistema, entre otros,</p>

<p>Asignaci&oacute;n de claves a usuarios, etc</p>
<!-- utilizar un collapse + ul para un indice de videos--> <!-- iniciaListaDeVideos -->

<div class="sidenav" id="mySidenav"><a class="closebtn" href="javascript:void(0)" onclick="closeNav()" style="color: #ff4d4d;">&times; Cerrar</a>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse100"><span class="Normal_Blue">Pulsa <strong>sobre</strong> el tutorial que desea ver</span></a></h4>
</div>

<div class="panel-collapse collapse in" id="collapse100">
<div class="panel-body"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse111"><span class="Normal_Blue"><strong>Guia del usuario para los paneles de la linea VISTA de Honeywell</strong></span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse111">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/keJYmiptSLU?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse222"><span class="Normal_Blue">Como identificar la <strong>marca</strong> del equipo de seguridad</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse222">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/--RsfZ0SSUc?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse333"><span class="Normal_Blue">Requisitos para poder <strong>armar</strong> un sistema de seguridad Honeywell Vista 48</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse333">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/FFC8dhbTIns?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse444"><span class="Normal_Blue"><strong>Modos de armar</strong> un sistema de seguridad Honeywell Vista 48LA</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse444">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/QEVy6UroL3o?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse555"><span class="Normal_Blue">Como <strong>excluir</strong> zonas en un sistema de seguridad Honeywell Vista 48LA</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse555">
<div class="panel-body">
<div class="col-sm-6">
<p style="color: #ff4d4d; font-size: 48px;"><strong>uuuu 6 ZZ *</strong></p>
</div>

<div class="col-sm-6 videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/fAS9QGuhc9I?rel=0" width="560"></iframe></div>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse666"><span class="Normal_Blue"><strong>Armado</strong> del Sistema de Seguridad Honeywell Vista 48</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse666">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ZCludSTun58?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse777"><span class="Normal_Blue"><strong>Armar y Desarmar</strong> un Sistema de Seguridad Paradox</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse777">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/67Z4w7DqiFY?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse888"><span class="Normal_Blue"><strong>Guia de usuario DSC</strong> con teclado alfanumerico</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse888">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/tyrRqZdLP_c?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse999"><span class="Normal_Blue">COMO <strong>CREAR CODIGOS DE USUARIO</strong> Y NIVEL DE AUTORIZACION EN UNA VISTA12 O VISTA 48</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse999">
<div class="panel-body videowrapper"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/TQ2rzjmhZn8?rel=0" width="560"></iframe></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse1010">
<div class="panel-body videowrapper"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse11">
<div class="panel-body videowrapper"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse1212">
<div class="panel-body videowrapper"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse1313">
<div class="panel-body videowrapper"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse1414">
<div class="panel-body videowrapper"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse1515">
<div class="panel-body videowrapper"></div>
</div>
</div>
</div>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/LosKTkmpq8A?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8AN0TJYcAC0?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oHEbGEmTzsM?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JVxsm3gS-R0?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/?rel=0" frameborder="0" allowfullscreen></iframe>
TECNICO
<iframe width="560" height="315" src="https://www.youtube.com/embed/OKiBQXzwk7E?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR EL TIEMPO DE ENTRADA Y EL TIEMPO DE SALIDA EN CENTRAL VISTA 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/D0zAq1Z_tWY?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR EN VISTA 12 O 48 MANDOS A DISTANCIA
<iframe width="560" height="315" src="https://www.youtube.com/embed/cG3uYaNi5b8?rel=0" frameborder="0" allowfullscreen></iframe>
VISTA 48 programacion de llavero inalambrico 5 de 7
<iframe width="560" height="315" src="https://www.youtube.com/embed/25Jbj2QGbIw?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR MODO AVISO EN CENTRAL HONEYWELL VISTA 12 O VISTA 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/EX2TrjK67bE?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR DIFERENTES AVISOS SONOROS EN TECLADO Y SIRENA EN CENTRAL HONEYWELL VISTA
<iframe width="560" height="315" src="https://www.youtube.com/embed/U99nH5PqGc8?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CREAR PARTICIONES EN CENTRAL HONEYWELL VISTA 12 O 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/caIhmdVWh8k?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR TEST PERIODICO EN CENTRAL HONEYWELL VISTA 12 O 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/yRjEPESCx9E?rel=0" frameborder="0" allowfullscreen></iframe>
COMO ESTABLECER A VALORES DE FABRICA CENTRAL VISTA 12 O VISTA 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/XvXJSQSALik?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR EN VISTA 12 O 48 SENSORES VIA RADIO
<iframe width="560" height="315" src="https://www.youtube.com/embed/P1lHh8s3neI?rel=0" frameborder="0" allowfullscreen></iframe>
COMO DIRECCIONAR UN TECLADO PARA CENTRAL VISTA 12 O VISTA 48
<iframe width="560" height="315" src="https://www.youtube.com/embed/WAeGZYndnhs?rel=0" frameborder="0" allowfullscreen></iframe>
COMO CONFIGURAR UNA VISTA12 O 48 PARA TRANSMITIR POR LINEA ANALOGICA A C R

USUARIO

--> <a href="https://youtu.be/keJYmiptSLU">Guia del usuario para los paneles de la linea VISTA de Honeywell </a> <a href="https://youtu.be/--RsfZ0SSUc">Como identificar la marca del equipo de seguridad</a> <a href="https://youtu.be/FFC8dhbTIns">Requisitos para poder armar un sistema de seguridad Honeywell Vista 48</a> <a href="https://youtu.be/QEVy6UroL3o">Modos de armar un sistema de seguridad Honeywell Vista 48LA </a> <a href="https://youtu.be/fAS9QGuhc9I">Como excluir zonas en un sistema de seguridad Honeywell Vista 48LA</a> <a href="https://youtu.be/ZCludSTun58">Armado del Sistema de Seguridad Honeywell Vista 48</a> <a href="https://youtu.be/67Z4w7DqiFY">Armar y Desarmar un Sistema de Seguridad Paradox</a> <a href="https://youtu.be/tyrRqZdLP_c">Guia de usuario DSC con teclado alfanumerico</a> <a href="https://youtu.be/5qEuBK_R_eU">burlar sensor de mov</a> <a href="https://youtu.be/LosKTkmpq8A">About</a> <a href="https://youtu.be/8AN0TJYcAC0">About</a> <a href="https://youtu.be/oHEbGEmTzsM">About</a> <a href="https://youtu.be/JVxsm3gS-R0">About</a> <a href="https://youtu.be/TQ2rzjmhZn8">About</a> <a href="https://youtu.be/OKiBQXzwk7E">About</a> <a href="https://youtu.be/oHnWTzQxp_w">About</a> <a href="https://youtu.be/D0zAq1Z_tWY">About</a> <a href="https://youtu.be/gT0bHaRhd60">About</a> <a href="https://youtu.be/tgY8Fag6CTE">About</a> <a href="https://youtu.be/sO61POyEzmY">About</a> <a href="https://youtu.be/gzmOtPKSmAU">About</a> <a href="https://youtu.be/PLBN5LWDlBE">About</a> <a href="https://youtu.be/aSRzGI2L3NU">About</a> <a href="https://youtu.be/zhmYrke7mK8">About</a> <a href="https://youtu.be/eD8K3QHU98U">About</a> <a href="https://youtu.be/Mg8G9wjtR8Q">About</a> <a href="https://youtu.be/s3thwo-WGCk">About</a> <a href="https://youtu.be/5khUTTPcw2s">About</a> <a href="https://youtu.be/k2b2eliBsDQ">About</a> <a href="https://youtu.be/SPTpRT4CReo">About</a> <a href="https://youtu.be/BEnv4LPsUak">About</a> <a href="https://youtu.be/HNOMEgUaEbM">About</a></div>
<!-- Use any element to open the sidenav --> <span onclick="openNav()" style="color:#ff4d4d; font-size:20px;cursor:pointer"> Ver Tutoriales</span> <!-- Add all page content inside this div if you want the side nav to push page content to the right
                (not used if you only want the sidenav to sit on top of the page -->

<div id="main">...</div>
<script type="text/javascript">
                                      /* Open the sidenav */
                      function openNav() {
                          document.getElementById("mySidenav").style.width = "100%";
                      }

                      /* Close/hide the sidenav */
                      function closeNav() {
                          document.getElementById("mySidenav").style.width = "0";
                      }
                </script> <!-- terminaListaDeVideos --></div>

<div class="col-sm-3"><img src="images/Index2/play_youtube_video_80x56.png" />
<h2>TUTORIALES DE PROGRAMACION</h2>

<p>D&aacute; click aqui para ver los tutoriales de las</p>

<p>funciones de Instalador de los equipos de seguridad</p>

<p>Programaci&oacute;n de tiempo de entrada o salida,</p>

<p>Programaci&oacute;n de funcionamiento de zonas,</p>

<p>Programaci&oacute;n comunicacion, Pruebas del sistemas, etc</p>
<!-- utilizar un collapse + ul para un indice de videos--></div>

<div class="col-sm-3"><a href="http://200.52.190.61:8008" target="_blank"><img src="images/Index2/webClienteAzul_100x66.png" /></a>

<h2>ACCESO A WEB CLIENTE</h2>

<p>Conozca los eventos que ha generado su alarma</p>

<p>Genere Ordenes de Servicio</p>

<p>Revise su informacion</p>

<p>Administre su cuenta</p>
</div>

<div class="col-sm-3"><img src="images/signoMas50x50.png" />
<h2>OTRAS PROTECCIONES</h2>

<p>Otros productos para aumentar Tu seguridad,</p>

<p>Seguro de da&ntilde;os patrimoniales, Control de acceso, Control de Acceso en fraccionamientos, Checadores de tiempo y asistencia, C&aacute;maras y videograbadoras, Deteccion de Humo e incendio, Redes de computo, Localizadores satelitales, Cableado estructurado, Casas inteligentes y automatizacion.</p>
<!-- utilizar un collapse + ul para un indice de otras protecciones--></div>
</div>
<!--<div class="row slideanim">--> <!--<div class="row bg-grey">
    <div class="col-sm-3">
    <span class="glyphicon glyphicon-file"></span>
     <h2>CONTRATO</h2>
      <p>Contrato de adhesi贸n de servicios</p>
      <p>registrado ente la PROFECO</p>
      utilizar un collapse para ir al contrato eula
    </div>--> </nr></div>

<p></p>

<p><br />
<button class="btn btn-lg">Quiero elegir el plan de servicio !</button><!-- Container (Portfolio Section) --></p>

<p></p>

<div class="container-fluid text-center bg-grey" id="testimonio">
<h2>Testimonios</h2>
&nbsp;

<h2>Esto es lo que dicen nuestros clientes</h2>

<div class="carousel slide text-center" data-ride="carousel" id="myCarousel"><!-- Indicators --><!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>

    </ol>--><!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox" style="height:350px">
<div class="item active">
<h4>&quot;Estoy muy contento con esta compa&ntilde;&iacute;a, ya tengo 14 a&ntilde;os de cliente y he recibido muy buena atencion.<br />
Inclusive cuando me quedo hasta tarde trabajando en mi negocio espero su llamada de supervisi&oacute;n de armado,<br />
siempre lo hacen ! Tambi&eacute;n cuidan mi casa&quot;<br />
<span>Ing. Miguel Angel Avenda&ntilde;o, Propietario, Plus Computadoras (PyME)</span></h4>
</div>

<div class="item"><br />
<br />
&nbsp;
<h4>&quot;Una frase... Son muy responsables!!&quot;<br />
<br />
<span>Sr. Felix Octavio Sanchez Verduzco, Representante M&eacute;dico Regional, Bayer</span></h4>
</div>
<!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--><!--<div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>--></div>
<!-- Left and right controls --><a class="left carousel-control" data-slide="prev" href="#myCarousel" role="button"><span class="sr-only">Previo</span> </a> <a class="right carousel-control" data-slide="next" href="#myCarousel" role="button"> <span class="sr-only">Siguiente</span> </a></div>
</div>
<!-- Container (Pricing Section) -->

<div class="container-fluid" id="pricing">
<div class="text-center">
<h2><strong>PLANES DE CONTRATACION</strong></h2>

<h4>Seleccione el Plan que sea adecuado para usted</h4>
</div>

<div class="row slideanim">
<div class="col-sm-4 col-xs-12">
<div class="panel panel-default text-center">
<div class="panel-heading">
<h2 style="background-color: #ff9900">Riesgo Bajo</h2>

<h2><strong>Casa Habitaci&oacute;n</strong>, negocio familiar o emprendedores</h2>
</div>

<div class="panel-body">
<p>Atenci&oacute;n de eventos de emergencia, Asesor&iacute;a telef&oacute;nica en uso de equipo, Reporte por eMail inmediato en eventos de emergencia, Asesor&iacute;a telef&oacute;nica para cambios de programaci&oacute;n de funciones de usuario, Operador de monitoreo reporta telef&oacute;nicamente al cliente las fallas reportadas por el sistema de alarma, Generaci&oacute;n de &oacute;rdenes de servicio a solicitud del cliente, Acceso a Lista de T&eacute;cnicos en su ciudad, Reporte Semanal de eventos (PDF).</p>

<p><strong>---</strong></p>

<p></p>

<p><strong>---</strong></p>
</div>

<div class="panel-footer">
<div id="99" style="background-color: #ff9900">
<h2 style="background-color: #ff9900; color:#fff">Riesgo Bajo</h2>

<h3 style="color:#fff">PRECIO POR MES</h3>

<h3 style="color:#fff">$ 149</h3>

<h4 style="color:#fff">en pago mensual</h4>

<h3 style="color:#fff">$ 119</h3>

<h4 style="color:#fff">en pago trimestral</h4>

<h3 style="color:#fff">$ 99</h3>

<h4 style="color:#fff">en pago por 24 meses</h4>
<button class="btn btn-lg" onclick="document.getElementById('id01').style.display='block'">Lo quiero !</button></div>
</div>
</div>
</div>

<div class="col-sm-4 col-xs-12">
<div class="panel panel-default text-center">
<div class="panel-heading">
<h2 style="background-color: #ff4000">Riesgo Medio</h2>

<h2><strong>Residencias, PyMES,</strong> (despachos u oficinas en general, consultorios, comercios, tiendas de conveniencia)</h2>
</div>

<div class="panel-body">
<p>Atenci&oacute;n de eventos de emergencia, Asesor&iacute;a telef&oacute;nica en uso de equipo, Reporte por eMail inmediato en eventos de emergencia, Asesor&iacute;a telef&oacute;nica para cambios de programaci&oacute;n de funciones de usuario, Operador de monitoreo reporta telef&oacute;nicamente al cliente las fallas reportadas por el sistema de alarma, Generaci&oacute;n de &oacute;rdenes de servicio a solicitud del cliente, Acceso a Lista de T&eacute;cnicos en su ciudad, Reporte Semanal de eventos (PDF).</p>

<p><strong>---</strong></p>

<p>Control de Horarios de Armado o Desarmado de Alarma. Visualizacion por c&aacute;maras en eventos (si fuese posible), Reporte SMS inmediato en eventos de emergencia, Acceso a WebCliente en l&iacute;nea (informaci&oacute;n de la cuenta).</p>

<p><strong>---</strong></p>
</div>

<div class="panel-footer">
<div style="background-color:#ff4000">
<h2 style="background-color: #ff4000; color:#FFF">Riesgo Medio</h2>

<h3 style="color:#fff">PRECIO POR MES</h3>

<h3 style="color:#fff">$ 219</h3>

<h4 style="color:#fff">en pago mensual</h4>

<h3 style="color:#fff">$ 149</h3>

<h4 style="color:#fff">en pago trimestral</h4>

<h3 style="color:#fff">$ 129</h3>

<h4 style="color:#fff">en pago por 24 meses</h4>
<button class="btn btn-lg" onclick="document.getElementById('id01').style.display='block'">Lo quiero !</button></div>
</div>
</div>
</div>

<div class="col-sm-4 col-xs-12">
<div class="panel panel-default text-center">
<div class="panel-heading">
<h2 style="background-color: #cc0000">Riesgo Alto</h2>

<h2><strong>Casas de cambio, Joyer&iacute;as, Casas de Empe&ntilde;o,</strong> Agencias Automotrices, Grandes Bodegas, Mansiones y grandes residencias</h2>
</div>

<div class="panel-body">
<p>Atenci&oacute;n de eventos de emergencia, Asesor&iacute;a telef&oacute;nica en uso de equipo, Reporte por eMail inmediato en eventos de emergencia, Asesor&iacute;a telef&oacute;nica para cambios de programaci&oacute;n de funciones de usuario, Operador de monitoreo reporta telef&oacute;nicamente al cliente las fallas reportadas por el sistema de alarma, Generaci&oacute;n de &oacute;rdenes de servicio a solicitud del cliente, Acceso a Lista de T&eacute;cnicos en su ciudad, Reporte Semanal de eventos (PDF).</p>

<p><strong>---</strong></p>

<p>Control de Horarios de Armado o Desarmado de Alarma. Visualizacion por c&aacute;maras en eventos (si fuese posible), Reporte SMS inmediato en eventos de emergencia, Acceso a WebCliente en l&iacute;nea (informaci&oacute;n de la cuenta.</p>

<p><strong>---</strong></p>
</div>

<div class="panel-footer">
<div style="background-color:#cc0000">
<h2 style="background-color: #cc0000; color:#FFF">Riesgo Alto</h2>

<h3 style="color:#fff">PRECIO POR MES</h3>

<h3 style="color:#fff">$ 690</h3>

<h4 style="color:#fff">en pago mensual</h4>

<h3 style="color:#fff">$ 590</h3>

<h4 style="color:#fff">en pago trimestral</h4>

<h3 style="color:#fff">$ 490</h3>

<h4 style="color:#fff">en pago por 24 meses</h4>
<button class="btn btn-lg" onclick="document.getElementById('id01').style.display='block'">Lo quiero !</button></div>
</div>
</div>
</div>
</div>
</div>

<div class="w3-container"><!--<h2>W3.CSS Login Modal</h2>--><!--<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>-->
<div class="w3-modal" id="id01">
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
<div class="w3-center"><br />
<span class="w3-button w3-xlarge w3-transparent w3-display-topright" onclick="document.getElementById('id01').style.display='none'" title="Close Modal">&times;</span> <!-- <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">--></div>
<!--  <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
      </form>-->

<form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">
<h2 class="w3-text-green w3-center">Ser&aacute; un gusto contactarte<br />
dentro de las siguientes 24 hrs</h2>

<h2 class="w3-center">por favor env&iacute;a tus datos</h2>

<div class="w3-row w3-section">
<div class="w3-col" style="width:50px"></div>

<div class="w3-rest"><input class="w3-input w3-border" name="fullname" placeholder="Nombres y Apellidos" type="text" /></div>
</div>

<div class="w3-row w3-section">
<div class="w3-col" style="width:50px"></div>

<div class="w3-rest"><input class="w3-input w3-border" name="City" placeholder="Ciudad" type="text" /></div>
</div>

<div class="w3-row w3-section">
<div class="w3-col" style="width:50px"></div>

<div class="w3-rest"><input class="w3-input w3-border" name="email" placeholder="Email" type="text" /></div>
</div>

<div class="w3-row w3-section">
<div class="w3-col" style="width:50px"></div>

<div class="w3-rest"><input class="w3-input w3-border" name="phone" placeholder="LADA + Telefono" type="text" /></div>
</div>

<div class="w3-row w3-section">
<div class="w3-col" style="width:50px"></div>

<div class="w3-rest"><!--<input class="w3-input w3-border" name="message" type="text" placeholder="quiero el plan...">-->
<h2>Seleccione un plan</h2>

<div style="background-color: #FC0"><input name="plan" type="radio" value="PBPM1" /> <a style="color:#fff">Plan Basico Servicio Mensual paga $149 por mes</a><br />
<input name="plan" type="radio" value="PBPM3" /><a style="color:#fff"> Plan Basico Servicio Trimestral paga $357 ($119 por mes)</a><br />
<input name="plan" type="radio" value="PBPM24" /> <a style="color:#fff">Plan Basico Servicio 24 meses paga $2,376 ($99 por mes)</a><br />
&nbsp;</div>

<div style="background-color:#ffb366"><input name="plan" type="radio" value="PPPM1" /><a style="color:#fff"> Plan Est&aacute;ndard Servicio Mensual paga $219 por mes</a><br />
<input checked="checked" name="plan" type="radio" value="PPPM3" /><a style="color:#fff"> Plan Est&aacute;ndard Servicio Trimestral paga $447 ($149 por mes)</a><br />
<input name="plan" type="radio" value="PPPM24" /><a style="color:#fff"> Plan Est&aacute;ndard Servicio 24 meses paga $3,096($129 por mes)</a><br />
&nbsp;</div>

<div style="background-color:#ff7979"><input name="plan" type="radio" value="PPREPM1" /> <a style="color:#fff">Plan Alto Riesgo Servicio Mensual $690 por mes</a><br />
<input name="plan" type="radio" value="PPREPM3" /><a style="color:#fff"> Plan Alto Riesgo Servicio Trimestral paga $1,770 ($590 por mes)</a><br />
<input name="plan" type="radio" value="PPREPM24" /><a style="color:#fff"> Plan Alto Riesgo Servicio 24 meses paga $11,760 ($490 por mes)</a><br />
&nbsp;</div>
</div>
</div>

<p class="w3-center"><button class="w3-button w3-section w3-blue w3-ripple">Enviar</button></p>
</form>

<div class="w3-container w3-border-top w3-padding-16 w3-light-grey"><button class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'" type="button">Cancel</button></div>
</div>
</div>
</div>





<!-- **********************************************************************        **************************************    ***************************** -->
<!-- Payments (Pay Section) -->
<div  id="pay">
<form action="/index" method="get">
<div class="container">
<fieldset>
    <legend><h2>Pagos</h2></legend>
<style>
img {
    display: inline-block;
}
</style>

<p>Pulse el boton de abajo para realizar un pago con el m&eacute;todo que usted elija</p>
<iframe src="images/Index2/mcvs_acc_hrz.svg" style="height:100px;width:200px;float:right;border:0px solid red"></iframe>
</br>
<button class="btn btn-info active" type="submit">Quiero realizar el pago</button>
  <p><span>    ver </span><a href="/terminosyCondiciones.html" style="color:blue; text-decoration:underline" target="_blank">Términos y Condiciones</a></p>
</div>
</fieldset>
</form>
</div>
<!-- **********************************************************************        **************************************    ***************************** -->









<!-- Container (Contact Section) -->

<div class="container-fluid bg-grey" id="contact">
<h2 class="text-center">CONTACTO</h2>

<div class="row">
<div class="col-sm-5">
<p><strong>Envie este correo electr&oacute;nico y nos comunicaremos con Usted dentro de las siguientes 24 hrs.</strong></p>

<p>Ciudad de M&eacute;xico, CDMX</p>

<p>Guadalajara, Jalisco</p>

<p>Monterrey, Nuevo Le&oacute;n</p>
<!--<p><span class="glyphicon glyphicon-map-marker"></span>Los Mochis, Sinaloa</p>--><!--<p><span class="glyphicon glyphicon-phone"></span> +52 66 88172222</p>-->

<p>+52 66 8178 7492</p>

<p>ventas@velozmonitoreo.com.mx</p>
</div>

<div class="col-sm-7 slideanim">
<div class="row"><!--<div class="col-sm-6 form-group">-->
<form action="/mail2.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">
<h2 class="w3-text-green w3-center">Ser&aacute; un gusto contactarte<br />
dentro de las siguientes 24 hrs</h2>

<h2 class="w3-center">por favor env&iacute;a tus datos</h2>

<div class="w3-row w3-section"><!--<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>-->
<div class="w3-rest"><input class="w3-input w3-border" name="name2" placeholder="Su Nombre Completo" type="text" /></div>
</div>

<div class="w3-row w3-section"><!--<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>-->
<div class="w3-rest"><input class="w3-input w3-border" name="City2" placeholder="Ciudad" type="text" /></div>
</div>

<div class="w3-row w3-section"><!--<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>-->
<div class="w3-rest"><input class="w3-input w3-border" name="email2" placeholder="Su Email" type="text" /></div>
</div>

<div class="w3-row w3-section"><!--<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>-->
<div class="w3-rest"><input class="w3-input w3-border" name="phone2" placeholder="LADA + Telefono" type="text" /></div>
</div>
<textarea class="form-control" id="comments" name="comments2" placeholder="Escriba aqu铆 su Comentario por favor" rows="10"></textarea><br />
<!--<div class="w3-row w3-section">
                      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    </div>-->
<div class="row">
<div class="col-sm-12 form-group"><button class="btn btn-default pull-right" type="submit">Enviar</button>

<p class="w3-center"><button class="w3-button w3-section w3-blue w3-ripple">Enviar</button></p>
<input name="submit" type="submit" value="Submit" /></div>
</div>
</form>
<!--</div>--></div>
</div>
</div>
</div>
<!-- Container (About Section) -->

<div class="container-fluid" id="about">
<div class="row">
<div class="col-sm-6">
<h2>Sobre la empresa</h2>
&nbsp;

<h4><strong>Soluciones que ofrecemos</strong></h4>
&nbsp;

<div style="text-align:justify">
<p style="color:#999999 ; font-family:Tahoma, Geneva, sans-serif">Por m&aacute;s de 15 a&ntilde;os hemos trabajado cuidando y protegiendo patrimonios, perfeccionando nuestros m&eacute;todos y procedimientos constantemente, evolucionando de acuerdo a las necesidades de seguridad de la sociedad moderna.</p>

<p style="color:#999999 ; font-family:Tahoma, Geneva, sans-serif">D&iacute;a a d&iacute;a estamos analizando los cambios en la evoluci&oacute;n de la sociedad, detectando los cambios en las necesidades de seguridad y las mejoras tecnol&oacute;gicas de los sistemas con los que trabajamos en esta industria.</p>

<p style="color:#0099cc ; font-family:Tahoma, Geneva, sans-serif">Nuestro <a href="#RN" style="color:#00F">plan de recomendaciones</a> le ofrece la oportunidad de mejorar los beneficios que contrat&oacute; sin que le cueste m&aacute;s ya que su apoyo es fundamental en nuestro crecimiento.</p>
<!--<br><button class="btn btn-default btn-lg">Get in Touch</button>--></div>
</div>

<div class="col-sm-6"><!--<span class="glyphicon glyphicon-signal logo"></span>--><span class="w3-display-middle"><img alt="logo_empresa" src="images/Index2/logoVELOZ-240x135.png" /></span></div>
</div>
</div>
<!-- <<<<NO SE REQUIERE>>>> Add Google Maps --><!--<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(19.435500, -99.190778);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>--><!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
--><!--Inicia FAQ-->

<div class="container-fluid text-center" id="FAQ">
<div class="container">
<h2>PREGUNTAS FRECUENTES</h2>

<p></p>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1"><span class="Normal_Blue">Pulsa <strong>sobre</strong> la pregunta para obtener la respuesta</span></a></h4>
</div>

<div class="panel-collapse collapse in" id="collapse1">
<div class="panel-body"></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse02"><span class="Normal_Blue">&iquest;Cuales <strong>marcas</strong> de &quot;alarmas&quot; monitorean?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse02">
<div class="panel-body">Las 2 marcas m&aacute;s comunes son <strong>Honeywell y DSC</strong>, estamos certificados en ambas para ofrecerle adecuadamente el servicio de soporte t&eacute;cnico en uso y programaci&oacute;n. Adem&aacute;s, podemos ofrecer el servicio con equipos de otra marca que usted tenga instalada con un poco de tiempo de espera de su parte. Monitoreamos m&aacute;s de 10 marcas y sus modelos</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse2"><span class="Normal_Blue">&iquest;Se puede <strong>agregar</strong> m&aacute;s equipo? (&quot;hacer mas grande la alarma&quot;)</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse2">
<div class="panel-body">Si, el l&iacute;mite es la capacidad del Panel de alarma instalado. Existen modulos de crecimiento para hacerlo de manera sencilla, una vez llegado al limite m&aacute;ximo del equipo de requerir&aacute; reemplazar el panel por uno de mas capacidad de zonas.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse3"><span class="Normal_Blue">&iquest;Qu&eacute; pasa mi alarma si sucede <strong>perdida de energia de CFE</strong>? (&quot;se va la luz&quot;)</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse3">
<div class="panel-body">En caso de p&eacute;rdida de energia el&eacute;ctrica ya sea por CFE, por un problema el&eacute;ctrico interno o por da&ntilde;o del transformador los sistemas tienen una bater&iacute;a de respaldo con una duraci&oacute;n +/- de 14 hrs cuando es nueva, por lo que el equipo se mantiene funcionamiento normal. Al alcanzar su limite de carga baja el sistema de alarma env&iacute;a un evento de bateria baja a la central de monitoreo, indicando que el sistema esta por apagarse. Por otra parte al paso de los meses (aproximadamente 24) la bater&iacute;a del equipo llega a agotar su vida &uacute;til hasta no durar 5 minutos. Lo recomendable es reemplazarla cada 18 meses. Todos los sistemas de alarma realizan con frecuencia un test de bater&iacute;a y si la encuentran &quot;no apta&quot; envian una se&ntilde;al de falla a la central de monitoreo.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse4"><span class="Normal_Blue">&iquest;Qu&eacute; pasa si el ladr&oacute;n <strong>quiebra un vidrio</strong>?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse4">
<div class="panel-body">Cuando el sistema cuenta con sensores de audio (ruptura de cristal) se activar&aacute;, de lo contrario se activar&aacute; por los sensores magn&eacute;ticos al abrir la ventana o por los sensores de movimiento al entrar.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse5"><span class="Normal_Blue">&iquest;Qu&eacute; pasa si se <strong>corta un cable?</strong></span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse5">
<div class="panel-body">La sirena comenzar&aacute; a sonar si el sistema se encuentra armado como si se hubiera activado el sensor, de esta forma podemos prevenir sabotajes al sistema.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse6"><span class="Normal_Blue">Voy a hacer <strong>cambios o remodelaciones</strong> en mi casa/empresa &iquest;Qu&eacute; me recomienda?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse6">
<div class="panel-body">Que nos informe eso para planear juntos las actividades necesarias, realizar una evaluacion de riesgos, recomendar equipos adicionales, reutilizar equipo instalado, agendar actividades para que no baje su seguridad y una vez terminado conserve la seguridad y la est&eacute;tica que usted desea.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse61"><span class="Normal_Blue">Me voy a <strong>mudar</strong> de casa/edificio ... &iquest;Qu&eacute; procede?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse61">
<div class="panel-body">Lo mismo del punto anterior.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse7"><span class="Normal_Blue"><strong>No tengo linea tel&eacute;fonica</strong> terrestre (tipo Telmex) &iquest;pueden monitorear?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse7">
<div class="panel-body">Si. Si bien los equipos originalmente fueron dise&ntilde;ados para transmitir los eventos por ese medio, con los avances tecnol&oacute;gicos y abaratamiento de las comunicaciones es posible utilizar equipos adicionales que realizan la comunicaci&oacute;n de manera inalambrica a la central de monitoreo -de hecho es mas recomendable-, las tecnologias son: GPRS, Ethernet (internet cableado). De hecho algunos equipos permiten conocer el status del sistema de alarma adem&aacute;s de armar o desarmarlo</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse8"><span class="Normal_Blue">&iquest;Es necesario hacer una evaluaci&oacute;n de riesgos?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse8">
<div class="panel-body">Al instalar el sistema de seguridad es indispensable hacerlo para asegurar una eficaz protecci&oacute;n, al realizar cambios o remodelaciones, al menos una vez cada 2 a&ntilde;os para revisar si existen equipos que cubran mejor, cuando recibamos un boletin de seguridad de Velozmonitoreo, S.A. de C.V. o en las charlas de caf&eacute; y detectemos nuevas formas de actuar de los delincuentes para las cuales no est&aacute;s protegido.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse9"><span class="Normal_Blue">&iquest;Qu&eacute; pasa cuando se <strong>activa la alarma</strong>?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse9">
<div class="panel-body">Si se activa la alarma, suceden 2 eventos al mismo tiempo, la sirena sonar&aacute; y el sistema enviar&aacute; una se&ntilde;al a nuestra central de monitoreo, el operador de monitoreo proceder&aacute; a llamar al domicilio para valorar la situaci&oacute;n. En caso de haberse activado por error le recomendamos desactivar el sistema con su c&oacute;digo, esperar la llamada de la central de monitoreo y <strong>proporcionar su palabra clave</strong> para descartar la alarma. En caso que sea una alarma real, la central de monitoreo proceder&aacute; a enviar a la polic&iacute;a municipal y notificar&aacute; al cliente de acuerdo a los telefonos de emergencia establecidos por usted.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse10"><span class="Normal_Blue">En caso de activarse la alarma &iquest;Cu&aacute;nto <strong>tiempo</strong> suena?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse10">
<div class="panel-body">Esa es una <strong>caracter&iacute;stica programable</strong>. Tipicamente en barrios residenciales son 4 minutos y hasta 15 en &aacute;reas comerciales. Durante ese tiempo la sirena sonar&aacute; independientemente de cuant&aacute;s zonas hayan sido violentadas, luego al concluir ese lapso el sistema se arma de nueva cuenta, si continua alguna zona violada de inmediato se activar&aacute; el sistema, enviar&aacute; se&ntilde;ales de nueva cuenta a la central de monitoreo y durar&aacute; otro per&iacute;odo igual. Y as&iacute; hasta completar la cantidad de rearmados automaticos que el sistema tiene programado por zona (normalmente 5) luego entonces el sistema deja de considerar esa zona en particular y solo se disparar&aacute; si alguna otra zona que no haya alcanzado su l&iacute;mite de rearmados es violentada. Parece ser poco pero es ma&acute;s que suficiente para que la central de monitoreo reciba las se&ntilde;ales y actue en consecuencia. Como una idea del porque de esa programaci&oacute;n imagina que tu vecino sali&oacute; de vacaciones, dej&oacute; armada su alarma y una ventana abierta, entonces la sirena sonar&aacute; y sonar&aacute; ma&ntilde;ana tarde y noche hasta que &eacute;l regrese y desactive</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse11"><span class="Normal_Blue"><strong>No tengo/recuerdo</strong> la Palabra Clave o la clave de n&uacute;meros &iquest;Qu&eacute; puedo hacer?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse11">
<div class="panel-body">Entonces, por favor a la brevedad <strong>p&oacute;ngase en contacto</strong> con nosotros v&iacute;a eMail (soporte@velozmonitoreo.com.mx) para darle instrucciones de lo que se debe hacer. Este documento forma parte del contrato y debe quedar evidencia. Las palabras clave son para fines de identificacion y pueden ser por usuario o por familia, usted decide. La contrase&ntilde;a es personal e individual para identificar a la persona que est&aacute; haciendo uso del sistema de seguridad.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse12"><span class="Normal_Blue">&iquest;Qu&eacute; otros <strong>productos de seguridad</strong> venden?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse12">
<div class="panel-body">Somos distribuidores de <a href="http://www.syscom.mx" style="color:#4da6ff" target="_blank">SYSCOM</a> e <a href="http://www.inalarm.mx" style="color:#4da6ff" target="_blank">INALARM</a>, as&iacute; que toda la gama de productos de seguridad: c&aacute;maras y videograbadoras, redes, control de acceso, control de horario, deteccion de incendio, etc.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse13"><span class="Normal_Blue">&iquest;Puede <strong>protegerse el exterior</strong> de la casa/edificio?</span></a></h4>
</div>

<div class="panel-collapse collapse" id="collapse13">
<div class="panel-body">La proteccion se puede dar en los l&iacute;mites de la propiedad, en los patios y dentro de la edificacion. Aqu&iacute; la pregunta es <strong>&iquest;D&oacute;nde es mejor detectar al malechor?</strong>, Adentro de su casa o afuera, siempre ser&aacute; bueno detectarlos antes de que ingresen -lo m&aacute;s lejos posible- de esta forma se minimizan los da&ntilde;os, las p&eacute;rdidas y lo mas importante la invasi&oacute;n de su privacidad. Un error que podemos cometer es pensar que el ladr&oacute;n no piensa, ellos son muy inteligentes, trabajan y no solo eso si no que est&aacute;n en mejora cont&iacute;nua, innovando sus m&eacute;todos por lo que nosotros siempre buscamos estar un paso adelante. Ademas al contar con todo el perimetro protegido(puertas y ventanas) el sistema se puede activar estando la familia dentro de la casa quedando protegidos durante el dia y la noche de una posible intrusion.</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"></h4>
</div>

<div class="panel-collapse collapse" id="collapse15">
<div class="panel-body">--------</div>
</div>
</div>
</div>
</div>
</div>
<!--
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="Normal_Blue">aqui va la pregunta</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Ac谩 va la respuesta</div>
      </div>
    </div>
-->

<p><button class="btn btn-lg">Quiero elegir el plan de servicio !</button><!--Inicia plan de recomendaciones--></p>

<div class="container-fluid text-center" id="RN">&nbsp;
<h4 style="text-align:justify"><strong>Plan de recomendados</strong></h4>
&nbsp;

<div class="col-sm-8">
<div style="text-align:justify">
<p style="color:#999999 ; font-family:Tahoma, Geneva, sans-serif">Tenemos un ambicioso plan de crecimiento, para obtener ahorros es bien sabida la necesidad de contar con muchos clientes (econom&iacute;a de escala).</p>

<p style="color:#999999 ; font-family:Tahoma, Geneva, sans-serif">Por eso si cuentas con el <strong>plan b&aacute;sico</strong> y est&aacute;s satisfecho con nuestro servicio te queremos comprometer a que compartas 7 veces nuestros anuncios en tus redes sociales a 7 de tus contactos a quienes creas que nuestro servicio le ser&aacute; de utilidad y le ayudar&aacute; a ahorrar dinero, Te lo agradecer&aacute;!. <strong>Eso es todo</strong>. Recuerda que la mejor recomendacion es la de boca a boca.</p>

<p style="color:#0099cc ; font-family:Tahoma, Geneva, sans-serif"></p>
</div>
</div>

<div style="text-align:left"><button class="btn" onclick="document.getElementById('id02').style.display='block'" style="color:#000">Quiero recomendar</button></div>
</div>
<!--
<div class="w3-container w3-teal4da6ff">
  <h2>Para las recomendaciones descarga la imagen "click con Boton derecho > Guardar imagen como..." luego la compartes con tus amigos y familiares</h2>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/Dados375x250PostFB.jpg" alt="Seguridad y suerte no es lo mismo" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-1</h5>
      </div>
    </div>
  </div>


  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_monterosso.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-2</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_vernazza.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-3</h5>
      </div>
    </div>
  </div>

</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_monterosso.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-4</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_corniglia.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-5</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_riomaggiore.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-6</h5>
      </div>
    </div>
  </div>


	<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-2">
      <img src="images/Index2/sensacional99_355x355.png" alt="promo_99" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-7</h5>
      </div>
    </div>
  </div>

	<div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_corniglia.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-8</h5>
      </div>
    </div>
  </div>

	<div class="w3-third">
    <div class="w3-card-2">
      <img src="publicidad/img_riomaggiore.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Velozmonitoreo-9</h5>
      </div>
    </div>
  </div>

</div>
  -->

<footer class="container-fluid text-center"></footer>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (2000 antes 900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>



<div class="clearfix"></div>
<!-- Footer
<footer style=" height:100px;
background-color:#455864;
margin-top:35px;
color:#fff;
font-weight:800;
font-size:1.1em;
letter-spacing:2px;
text-align:center;
padding-top:20px">
&copy; 2001-2018 jacksonalarmas
</footer> -->

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>&copy; 2001-2018 jacksonalarmas</p>
  <p><a href="/terminosyCondiciones.html" style="color:blue; text-decoration:underline" target="_blank">Términos y Condiciones</a></p>
</div>

</body>
</html>
