<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px;
			margin-bottom: 200px;
			}
	</style>
</head>
<body id="body">
    <div class="container">
			<div class="well">
				<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Iniciar Sesión</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input type="text" class="form-control" name="username" tooltip="Ingrese su correo">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>


                <button type="submit" class="btn btn-warning btn-lg">Iniciar</button>
            </form>

            <hr>

            <p>¿No tienes cuenta? <a href="/signup">Regístrate</a></p>
            <p>O ve a  <a href="/">Inicio</a>.</p>
        </div>
			</div>
		</div>
    </div>
		<% include partials/footer.ejs %>
</body>
</html>
