<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px; margin-bottom: 200px;}
		label {text-align:center;}
	</style>
</head>
<body id="body">
	<div class="page-header text-center">
		<h1><span class="fa fa-lock"></span>Pago realizado</h1>
    <a href="/profile" class="btn btn-success">Inicio</a>
		<a href="/logout" class="btn btn-danger">Salir</a>
	</div>

  <div class="row">
        <div class="col-md-2"></div>
				<div class="col-md-8">
					<h4>¡Muchas gracias por su pago!</h4>
          <h3>Su pago fue concluido de manera exitosa</h3>

          <h4>Se realizó un pago por $<%= data.monto %> MXN, con motivo de pago de
          <%= data.razon %></h4>

          <h5>Se ha enviado un correo a : <%= data.email %>, favor de verificarlo.</h5>
          <p>Asegúrese de revisar la sección de "spam", ya que nuestro correo puede ser
          filtrado en dicha carpeta.</p>

          <h6>¡Si fuese necesario nos pondremos en contacto con usted !</h6>

          <p>Para mayor información favor de contactarse a: fes@velozmonitoreo.com.mx</p>
          <p>O a las oficinas de JacksonAlarmas al número (668) 817 2222</p>
          <br>
				</div>
				<a href="http://2017.velozmonitoreo.com.mx/index2.html"> <button type="submit" name="button" class="btn btn-success">Regresar a página principal</button> </a>

        <div class="col-md-2"></div>
				</div>
      </div>
			<% include partials/footer.ejs %>
</body>
</html>
