<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<style>
		#body 		{ padding-top:15px; word-wrap:break-word; margin-bottom: 200px;}
	</style>
</head>
<body id="body">
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-lock"></span> Página principal</h1>
		<a href="/logout" class="btn btn-danger">Desconectar</a>
	</div>

	<div class="container">
		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-3 col-ms-3 col-lg-3 col-xl-3"></div>
		<div class="well col-sm-6 col-ms-6 col-lg-6 col-xl-6">
				<!--<h3><span class="fa fa-user"></span></h3>-->
					<h3><strong>¡Bienvenido!</strong><br></h3>
					<h4>Seleccione algún método de pago</h4>
					<form action="/seleccionarPago" method="get"> 
					<!-- <input type="submit" name="button" class="btn btn-success" value="Pago con tarjeta"/>-->
					<button class="btn btn-success" name="button" value="cardPayment" type submit>Pago con tarjeta de crédito o débito</button>
					<input type="submit" formaction="/oxxo" name="button" class="btn btn-success" value="Pago en Oxxo" disabled/>
					</form>

					<!--<form target="_blank" name="formularioPago" method="post"
					action="https://www.pagofacil.net/ws/public/Payform">
						<input type="hidden"
						value="251d59a660c078c3fb15a2a6d9a046596c5d090c" name="idSucursal">
						<input type="hidden"
						value="73512035237db2da77bc0b1ea9c60d4583436d9f" name="idUsuario">
						<input type="hidden" value="1" name="idServicio">
						<input type="hidden" value="1372109726" name="idPedido">
						<input type="hidden" value="36" name="monto">
						<input class="" name="submit" type="submit" value="compra">
					</form> -->

	</div>

		<div class="col-sm-3 col-ms-3 col-lg-3 col-xl-3"></div>

	</div>

</div>
<% include partials/footer.ejs %>
</body>
</html>
