<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<style>
		#body 		{ padding-top:15px; word-wrap:break-word; margin-bottom: 200px;}
	</style>
</head>
<body id="body">
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-lock"></span> Pago con Tarjeta</h1>
		<a href="/logout" class="btn btn-danger">Desconectar</a>
	</div>

	<div class="container">
		<!-- show any messages that come back with authentication -->
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-3 col-ms-3 col-lg-3 col-xl-3"></div>
		<div class="well col-sm-6 col-ms-6 col-lg-6 col-xl-6">
				<!--<h3><span class="fa fa-user"></span></h3>-->
					<h3><strong>¿A quién va dirigido su pago?</strong><br></h3>
					<h4>Favor de seleccionar alguna de las siguientes opciones</h4>
					<form action="/clientes" method="get">
						<button class="btn btn-success" name="button" value="Veloz" type submit>VelozMonitoreo</button>
						<button class="btn btn-success" name="button" value="Adrian" type submit>Adrián Gpe.</button>
						<button class="btn btn-success" name="button" value="Juan" type submit>Juan Jackson</button>
						<button class="btn btn-success" name="button" value="Jackson" type submit>Jacksonalarmas S.A. de C.V.</button>
					</form>

	</div>

		<div class="col-sm-3 col-ms-3 col-lg-3 col-xl-3"></div>

	</div>

</div>
</body>
<% include partials/footer.ejs %>

</html>
