<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>JacksonAlarmas</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		#body 		{ padding-top:15px; margin-bottom: 200px;}
	</style>
</head>
<body id="body">
<div class="container">
	<div class="well">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Registrarse JacksonAlarmas</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>correo electrónico</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input id="inputPass"type="password"  class="form-control" name="password">
			<h2> <span class="fa fa-eye" onmousedown="inputPass.type='text'" onmouseup="inputPass.type='password'" onmousemove="inputPass.type='password'"> Clic para ver contraseña</span> </h2>
		</div>

		<button type="submit" class="btn btn-warning btn-lg">¡Regístrame!</button>
	</form>

	<hr>

	<p>¿Ya tienes una cuenta? <a href="/login">Incia sesión</a></p>
	<p>O vuelve a  <a href="/">Inicio</a>.</p>

</div>
</div>
</div>
</div>
<% include partials/footer.ejs %>
</body>
</html>
